<%- include('nav.ejs') %>
<br><br>
<div class="container">
    <div class="row">
      <% for(i=0;i<products.length;i++){ %>
      <div class="col-3">
        <div class="card">
          <img class="card-img-top w-100" src="/uploads/<%=products[i].product_image%>" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title"><%=products[i].product_name%></h5>
            <p class="card-text">
                <big><b>&#8377; <%=products[i].product_price%></b></big>
                <del>&#8377; <%=products[i].duplicate_price%></del>
            </p>
            <a href="/view_product?product_id=<%=products[i].product_id%>" class="btn btn-primary">View product</a>
          </div>
        </div>
  
  
      </div>
      <% } %>
    </div>
  </div>
<br><br>
<%- include('footer.ejs') %>